{% extends 'app/layout.html.twig' %}

{% block title %}
    Portfolio - {{ parent() }}
{% endblock %}

{% block content %}
    <button class="material-scrolltop d-none d-lg-block" type="button"></button>
    <header class="container pt-2 pt-lg-4" id="home">
        <div class="row">
            <div class="col-10 mx-auto">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <button class="navbar-toggler d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mt-2 mt-lg-0 justify-content-between">
                            <li class="nav-item"><a class="nav-link active" href="#home">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="#about_me">À propos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#skills">Compétences</a></li>
                            <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <hr class="d-none d-lg-block d-xl-block">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="row justify-content-center align-items-end">

                    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                        <h1 id="site-title">
                            Anthony
                            <span class="d-block">Cecconato</span>
                        </h1>
                    </div>

                    <div class="col-12 col-lg-4 text-lg-center">
                        <h2 id="description">
                            Développeur PHP / Symfony
                            <span class="d-block">23 ans, Toulouse (France)</span>
                        </h2>
                    </div>

                    <div class="col d-none d-lg-flex text-center justify-content-end">
                        <p id="language-selection"><a href="#">ENG</a> | <a class="active" href="#">FR</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 mx-auto mt-5">
                <img id="header-image" class="img-fluid" src="{{ asset('build/images/header.png') }}" alt="">
            </div>
        </div>
    </header>

    <main>
        <!-- About me -->
        <div class="container-fluid" id="about_me">
            <div class="row">
                <div class="col-12 mx-auto text-center mt-5">
                    <h2>À propos de moi</h2>
                </div>

                <div class="col-12 col-md-8 mx-auto text-center mt-3">
                    <p>Salut, je m'appelle Anthony et je suis passionné par l'informatique et la programmation depuis
                        mon adolescence.</p>
                    <p>J'étudie actuellement pour devenir <span class="d-inline-block">"Développeur d'applications PHP / Symfony"</span>
                        sur une formation proposée par Openclassrooms. Mais j'apprends (et j'ai appris) beaucoup
                        d'autres choses en autodidacte.</p>
                    <p>Je suis prêt à vous accompagner dans vos projets afin de donner vie à vos idées !</p>
                </div>
            </div>
        </div>

        <!-- Skills -->
        <div class="container-fluid" id="skills">
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Compétences</h2>
                </div>
            </div>

            {{ render(controller('App\\Controller\\AppController::listSkills')) }}
        </div>

        <!-- PORTFOLIO SECTION -->
        <div class="container-fluid pb-5" id="portfolio">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h2>Portfolio</h2>
                </div>
            </div>

            <!-- NO PROJECTS DISPLAY -->
            <!-- <div class="row mt-5">
                <div class="col-12 col-lg-10 mx-auto text-center">
                    <p>Sorry, there is no projects to display at the moment</p>
                </div>

                <div class="col-10 col-lg-8 mx-auto">
                    <img class="img-fluid" src="assets/img/404-projects.jpg" alt="">
                </div>
            </div> -->

            <div class="row">
                <div class="mt-5 pt-3 col-12 col-lg-10 mx-auto text-center project">
                    <!-- Best idea: Open a modal then display DESKTOP, TABLET and MOBILE full website screenshot
                    in separed tabs in lazy loading -->
                    <a href="#">
                        <img class="img-fluid" src="assets/img/portfolio/01_pres.png" alt="">
                    </a>
                    <p class="mt-4"><a href="#">Online fashion store - Homepage</a></p>
                </div>
                <div class="mt-5 pt-3 col-12 col-lg-10 mx-auto text-center project">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/portfolio/02_pres.png" alt="">
                    </a>
                    <p class="mt-4"><a href="#">Reebok Store - Concept</a></p>
                </div>
                <div class="mt-5 pt-3 col-12 col-lg-10 mx-auto text-center project">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/portfolio/03_pres.png" alt="">
                    </a>
                    <p class="mt-4"><a href="#">Braun Landing Page - Concept</a></p>
                </div>
            </div>
        </div>

        <!-- CONTACT SECTION -->
        <div class="container-fluid pb-5" id="contact">
            <div class="row mt-5">
                <div class="col-12 col-lg-10 mx-auto text-center">
                    <h2>Contactez-moi</h2>
                    <p class="pt-2">Vous voulez en savoir plus ou juste discuter ?<br> Vous êtes les bienvenus !</p>
                    <p class="pt-2">
                        <a name="send_message" id="send_message" class="btn btn-dark" href="#">Envoyer un message</a>
                    </p>
                </div>
            </div>
        </div> <!-- FOOTER -->
        <footer class="container-fluid" id="footer">
            <div class="row mb-5">
                <div class="col-12 col-lg-4 mx-auto d-flex justify-content-around">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                </div>
            </div>
        </footer>
    </main>
{% endblock %}
